.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tabs, h3{
  margin-top: 25px;
  text-align: center;
}

/* .links {
  width: 100px;
  display: flex;
  flex: 1;
} */

a {
  text-decoration: none;
  text-transform: uppercase;
  line-height: normal;
  width: 100%;
}

.active {
  color: red;
  font-weight: bold;
  border-bottom: 2px red solid;
  display: block;
  line-height: 40px;
  text-align: center;
}

ol {
  box-shadow: 0 0 0.5rem 0 rgba(113, 113, 113, 0.23);
  display: flex;
  background-color: white;
}

li {
  display: inline-block;
  margin-block: auto;
  list-style: none;
  text-align: center;
  cursor: pointer;
  flex: 1
}

@media (max-width: 800px) {
  div .mobile{
    background-color: white;
    border-radius: 0 0 10% 10%;
     box-shadow: 0 1px 7px 0 rgba(104, 104, 104, 0.5);
     z-index: 1;
     overflow: hidden;
  }
  div .tabs{
    margin-bottom: 100px;
  }
  ol{
    margin: auto;
  }
}
